@{
    ViewData["Title"] = "DPatient";
    Layout = "~/Views/Shared/_DoctorLayout.cshtml";

}
@model IEnumerable<Alive.Models.PatientInfo>

<main id="main" class="main ">


    <section class="section">
        <div class="row">
            <div class="col-4">
                <a asp-controller="Admin" asp-action="DPatientCreate" method="post" class="btn btn-primary">

                    Add Patient
                </a>
            </div>


            <div class="col-4">
                <h2 class="" style="display:flex; text-align:center;justify-content:center;">Patient Info List</h2>
            </div>

        </div>
        <div class="row align-items-top">

            <form class="search-form d-flex align-items-center" method="POST" action="#" style="float:right; display:flex; justify-content:end;">

                <input type="text" name="query" placeholder="Search" title="Enter search keyword">
                <button type="submit" title="Search"><i class="bi bi-search"></i></button>
            </form>


        </div>
    </section>

    <!-- Default Card -->
    <section>
        <div class="card" style="width:100%">
            <div class="card-body">
                @if (Model.Count() > 0)
                {
                    <table class="table table-bordered border-primary">
                        <thead class="bg-danger">
                            <tr>
                                <th scope="col">First Name</th>
                                <th scope="col">Last Name</th>
                                <th scope="col">Marital Status</th>
                                <th scope="col">Gender</th>
                                <th scope="col">Spouse Name <br />Next of kin</th>
                                <th scope="col">Blood group </th>
                                <th scope="col">Genotype </th>
                                <th scope="col">DOB </th>
                                <th scope="col">New Checkup </th>
                                <th scope="col">Action </th>
                                <th scope="col">Action </th>




                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var obj in Model)
                            {
                                <tr>
                                    <td>@obj.FirstName</td>
                                    <td>@obj.LastName</td>
                                    <td>@obj.MaritalStatus</td>
                                    <td>@obj.Gender</td>

                                    <td>@obj.Nok</td>
                                    <td>@obj.Bloodgroup</td>
                                    <td>@obj.Genotype</td>
                                    <td>@obj.BOB</td>
                                    <td>
                                        <a asp-controller="Admin" asp-route-id="@obj.Id" asp-action="3" class="btn btn-warning">
                                            Edit
                                        </a>
                                    </td>
                                    <td>
                                        <a asp-controller="Admin" asp-route-id="@obj.Id" asp-action="PatientEdit" class="btn btn-primary">
                                            Edit
                                        </a>
                                    </td>
                                    <td>
                                        <a asp-controller="Admin" asp-route-Id="@obj.Id" asp-action="PatientDelete" class="btn btn-danger mx-2">
                                            <i class="far fa-trash-alt"></i> Delete
                                        </a>
                                    </td>




                                </tr>

                            }
                        </tbody>
                    </table>
                    <!-- End Primary Color Bordered Table -->
                }
            </div>
        </div>




    </section>
</main><!-- End Default Card -->
