@{
    ViewData["Title"] = "Patienttest";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

}
@model IEnumerable<Alive.Models.Patienttest>
<main id="main" class="main ">


    <section class="section">
        <div class="row">
            <div class="col-4">
                <a asp-controller="Admin" asp-action="PatientTestCreate" method="post" class="btn btn-primary">

                    Add Drugs
                </a>
            </div>



            <div class="col-4">
                <h2 class="" style="display:flex; text-align:center;justify-content:center;">Patient Test</h2>
            </div>

        </div>
        <div class="row align-items-top">

            <form class="search-form d-flex align-items-center" method="POST" action="#" style="float:right; display:flex; justify-content:end;">

                <input type="text" name="query" placeholder="Search" title="Enter search keyword">
                <button type="submit" title="Search"><i class="bi bi-search"></i></button>
            </form>


        </div>
    </section>

    <!-- Default Card -->
    
    <section>
        <div class="card" style="width:100%">
            <div class="card-body">
                @if (Model.Count()>0)
                {
                    <table class="table table-bordered border-primary">
                        <thead class="bg-danger">
                            <tr>
                                  <th scope="col"> Patient</th>
                                <th scope="col">Visit id</th>
                                <th scope="col">Delivery date</th>
                                <th scope="col">Test date</th>

                                <th scope="col">Created Date</th>
                                <th scope="col"> </th>
                                <th scope="col"> </th>


                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var obj in Model)
                            {


                                <tr>
                                    <td>@obj.PatientName</td>
                                    <td>@obj.VisitId</td>
                                    <td>@obj.DeliveryDate</td>
                                    <td>@obj.TestDate</td>

                                    <td>@obj.DateCreated</td>
                                    <td><button type="button" asp-controller="Admin" asp-action="PatientTestEdit" class="btn btn-primary">Edit</button></td>
                                    <td><button type="button" asp-controller="Admin" asp-action="PatientTestDelete" class="btn btn-danger">Delete</button></td>



                                </tr>
                            }


                        </tbody>
                    </table>
                    <!-- End Primary Color Bordered Table -->
                }
            </div>
        </div>




    </section>
</main><!-- End Default Card -->
