@{
    ViewData["Title"] = "payment";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@model Alive.Models.PaymentViewModel

<style>

    body {
        counter-reset: Serial; /* / Set the Serial counter to 0 /*/
    }

    tr td:first-child:before {
        counter-increment: Serial; /* / Increment the Serial counter /*/
        content: counter(Serial); /*  / Display the counter /*/
    }
</style>
<main id="main" class="main ">
    <section class="section">
        <div class="row align-items-top">
            <div class="col-sm-4 col-md-4 col-xl-4">
            </div>
            <div class="col-sm-4 col-md-4 col-xl-4">
                <h2 class="mx-4" style="display:flex; text-align:center;justify-content:center; color:lightseagreen">Payment List</h2>
            </div>
            <div class="col-sm-4 col-md-4 col-xl-4">
                <a asp-controller="Admin" method="post" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#basicModal" style="float:right">
                    <i class="ri-add-circle-fill" style="color:white;"></i> Add Nurse
                </a>
            </div>
        </div>
        <div class="row align-items-top">
            <form class="search-form d-flex align-items-center" method="POST" action="#" style="float:right; display:flex; justify-content:end;">
                <input type="text" name="query" placeholder="Search" title="Enter search keyword">
                <button type="submit" title="Search"><i class="bi bi-search"></i></button>
            </form>
        </div>
    </section>
    <!-- Default Card -->
    <section>
        <input type="hidden" id="nurseId" />
        <table class="table table-stripped mt-3" id="example" style="width:100%;">
            <thead class="" style="background-color:whitesmoke; color:darkblue">
                <tr>
                    <th scope="col">
                        #<i class="ri-arrow-up-down-line" style="margin-left: 30px; color:red"></i>
                    </th>

                    <th scope="col">
                        Patient Name<i class="ri-arrow-up-down-line" style="margin-left: 30px; color:red"></i>
                    </th>
                    <th scope="col">
                        Mode of pay<i class="ri-arrow-up-down-line" style="margin-left: 30px; color:red"></i>
                    </th>
                    <th scope="col">
                        Payment Picture<i class="ri-arrow-up-down-line" style="margin-left: 30px; color:red"></i>
                    </th>
                    <th scope="col">
                        Date of Payment<i class="ri-arrow-up-down-line" style="margin-left: 30px; color:red"></i>
                    </th>
                    <th scope="col">
                        Amount Charged<i class="ri-arrow-up-down-line" style="margin-left: 30px; color:red"></i>
                    </th>
                    <th scope="col">
                        Amount Paid<i class="ri-arrow-up-down-line" style="margin-left: 30px; color:red"></i>
                    </th>
                    <th scope="col">
                        Action<i class="ri-arrow-up-down-line" style="margin-left: 30px; color:red"></i>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var obj in @Model.Payments)
                {
                    <tr>
                        <td></td>
                        <td>@obj.PatientName</td>
                        <td>@obj.Email</td>

                        <td>@obj.ModeOfPay</td>
                        <td>
                            <img src="@obj.Picture" alt="trying" width="30" height="30">
                           
                        </td>
                        <td>@obj.PaymentDate</td>
                        <td>@obj.ChargedAmount</td>

                        <td>@obj.PaidAmount</td>

                        <td>
                            <a class="btn btn-primary" onclick="EditpayForm('@obj.Id')" data-bs-toggle="modal" data-bs-target="#largeModal">
                                Edit
                            </a>
                            <a id="showModal" onclick="ConfirmpayDelete('@obj.Id')" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">
                                Delete
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <!-- End Primary Color Bordered Table -->
        @*crete modal*@
        <div class="modal fade" id="basicModal">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title" id="exampleModalLabel">Payment List</h5>
                                <!-- Default Tabs -->
                                <div class="row">
                                    <div class="col-6">
                                        <div class="col-12">
                                            <input class="updateId" type="hidden" id="payId" />
                                        </div>
                                        <div class="col-12">
                                            <label><b>Patient Name</b></label>
                                            <input type="text" id="patname" class="form-control">
                                        </div>
                                        <div class=" col-12 ">
                                            <label><b>Mode of Payment</b></label>
                                            <input type="text" id="modofpay" class="form-control">
                                        </div>
                                        <div class="col-12 ">
                                            <label><b>proof</b></label>
                                            <input type="file" id="proof" class="form-control">
                                        </div>
                                        <div class="col-12 ">
                                            <label><b>Amount Charged</b></label>
                                            <input type="text" id="amt" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="col-12 ">
                                            <label><b>Email</b></label>
                                            <input type="text" id="pEmail" class="form-control">
                                        </div>
                                        <div class="col-12 ">
                                            <label><b>Payment date</b></label>
                                            <input type="date" id="payday" class="form-control">
                                        </div>
                                        <div class="col-12 ">
                                            <label><b>Amountpaid</b></label>
                                            <input type="text" id="paidamount" class="form-control">
                                        </div>
                                        
                                    </div>

                                    <div class="modal-footer">
                                        <button type="button"  class="btn btn-secondary btnCancel" data-dismiss="modal">close</button>
                                        <button type="submit" onclick="PaymentCreate()" class="btn btn-success ">Add</button>
                                    </div>
                                </div>
                                <!-- End General Form Elements -->

                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
        @*Edit Modal*@

        <div class="modal fade" id="largeModal" tabindex="-1">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title" id="exampleModalLabel">Payment Update</h5>
                                <!-- Default Tabs -->
                                <div class="row">
                                    <div class="col-6">
                                        <div class="col-12">
                                            <input class="updateId" type="hidden" id="payId" />
                                        </div>
                                        <div class="col-12">
                                            <label><b>Patient Name</b></label>
                                            <input type="text" id="editpatname" class="form-control">
                                        </div>
                                        <div class=" col-12 ">
                                            <label><b>Mode of Payment</b></label>
                                            <input type="text" id="editmodofpay" class="form-control">
                                        </div>
                                        <div class="col-12 ">
                                            <label><b>proof</b></label>
                                            <input type="file" id="editproof" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="col-12 ">
                                            <label><b>Payment date</b></label>
                                            <input type="date" id="editpayday" class="form-control">
                                        </div>
                                        <div class="col-12 ">
                                            <label><b>Amountpaid</b></label>
                                            <input type="text" id="editpaidamount" class="form-control">
                                        </div>

                                    </div>

                                    <div class="modal-footer">
                                        <button type="button"  class="btn btn-secondary btnCancel" data-dismiss="modal">close</button>
                                        <button type="submit" onclick="SaveEditPayment()" class="btn btn-success ">Add</button>
                                    </div>
                                </div>
                                <!-- End General Form Elements -->

                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="modal fade" id="deleteModal" tabindex="-1">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title" id="exampleModalLabel">Delete payment</h5>
                                <!-- Default Tabs -->

                                <div class="row">
                                    <div class="col-6">
                                        <div class="col-12">
                                            <input type="hidden" id="deleteId" />
                                            <h1>Are you sure you want to delete this payment?</h1>
                                        </div>
                                    </div>
                                </div><!-- End General Form Elements -->
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary btnCancel" data-dismiss="modal">close</button>
                                    <button onclick="DeletePayment()" type="button" class="btn btn-danger ">Delete</button>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>

        @section scripts {
            @{
                await Html.RenderPartialAsync("_ValidationScriptsPartial");
            }

        }


    </section>


</main>